@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #508CE5;
  --foreground: 282828;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-titulo {
  font-family: "Roboto", sans-serif;
}